{#- Actions Partial - Renders a list of action buttons -#}
{#- @param actions - Array of action objects with url, label, type, size, width, scroll_to, icon -#}
{#- @param actions_stacked - Boolean, if true adds 'stacked' class -#}
{#- @param actions_fixed - Boolean, if true adds 'fixed' class -#}

{%- set stacked = 'stacked' if actions_stacked else '' -%}
{%- set fixed = 'fixed' if actions_fixed else '' -%}

{%- if actions and actions.length > 0 %}
  <ul class="actions {{ stacked }} {{ fixed }}">
    {%- for action in actions %}
      <li>
        {%- set url = action.url -%}

        {% if action.target and page.targets[action.target] %}
          {%- set url = page.targets[action.target] -%}
        {% endif %}
        {%- set primary = 'primary' if action.type == 'primary' else '' -%}
        {%- set size = action.size if action.size and action.size != 'default' else '' -%}
        {%- set width = action.width if action.width and action.width != 'default' else '' -%}
        {%- set scroll_to = action.scroll_to if action.scroll_to else '' -%}
        {%- set icon = 'icon ' + action.icon if action.icon else '' -%}
        <a
          href="{{ url }}"
          class="button {{ primary }} {{ size }} {{ width }} {{ scroll_to }} {{ icon }}"
          >{{ action.label }}</a
        >
      </li>
    {%- endfor %}
  </ul>
{%- endif -%}
