<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{%- if theme.favicon %}
<link rel="icon" type="image/png" href="{{ url_for(theme.favicon) }}" />
<link rel="apple-touch-icon" href="{{ url_for(theme.favicon) }}" />
{%- endif %}
{{ css('css/main') | safe }}
<noscript>{{ css('css/noscript') | safe }}</noscript>
