{{ js('js/jquery.min.js') | safe }}
{{ js('js/jquery.scrollex.min.js') | safe }}
{{ js('js/jquery.scrolly.min.js') | safe }}
{{ js('js/browser.min.js') | safe }}
{{ js('js/breakpoints.min.js') | safe }}
{{ js('js/util.js') | safe }}
{{ js('js/main.js') | safe }}
