{{ partial('_partial/nav', { class: 'alt locked' }) | safe }}

{% set banner_content %}
<h1>{{ page.title }}</h1>
<p>{{ page.date.format('YYYY-MM-DD') }}</p>
{% endset %}

{{ partial('_partial/sections/banner', {
    content: banner_content,
    image: page.cover,
    options: {
        style: "style1",
        orient: "left",
        content_align: "left",
        image_position: "right"
    }
}) | safe }}

<section class="wrapper style1 align-center">
    <div class="inner">
        <article>
            {{ page.content | safe }}
        </article>
    </div>
</section>
