{%- set wrapper_style = "style" + (options.wrapper_style if options.wrapper_style else "1") -%}
{%- set align = "align-" + (options.align if options.align else "center") -%}
{%- set invert = "invert" if options.invert else "" -%}
{%- set color = "color" + options.color if options.color else "" -%}
{%- set extra_class = options.class if options.class else "" -%}
<section
  {% if id %}id="{{ id }}"{% endif %}
  class="wrapper {{ wrapper_style }} {{ align }} {{ invert }} {{ color }} {{ extra_class }}"
>
  <div class="inner">{{ content | safe }}</div>
</section>
