<section class="spotlight style1 orient-{{ position | default('right') }} content-align-left image-position-center onscroll-image-fade-in" id="{{ id }}">
    <div class="content">
        {{ content | safe }}
    </div>
    <div class="image">
        <img src="{{ image }}" alt="" />
    </div>
</section>
